nav(x-data='{ open: false }' @keydown.window.escape='open = false')
  .max-w-7xl.mx-auto(class='sm:px-6 lg:px-8')
    .border-b.border-gray-700
      .flex.items-center.justify-between.h-16.px-4(class='sm:px-0')
        .flex.items-center
          .flex-shrink-0
            img.h-8.w-8(src='/img/logos/workflow-mark-on-dark.svg' alt='')
          .hidden(class='md:block')
            .ml-10.flex.items-baseline
              a.px-3.py-2.rounded-md.text-sm.font-medium.text-white.bg-gray-900(href='#' class='focus:outline-none focus:text-white focus:bg-gray-700') Dashboard
              a.ml-4.px-3.py-2.rounded-md.text-sm.font-medium.text-gray-300(href='#' class='hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700') Team
              a.ml-4.px-3.py-2.rounded-md.text-sm.font-medium.text-gray-300(href='#' class='hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700') Projects
              a.ml-4.px-3.py-2.rounded-md.text-sm.font-medium.text-gray-300(href='#' class='hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700') Calendar
              a.ml-4.px-3.py-2.rounded-md.text-sm.font-medium.text-gray-300(href='#' class='hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700') Reports
        .-mr-2.flex(class='md:hidden')
          button.inline-flex.items-center.justify-center.p-2.rounded-md.text-gray-400(@click='open = !open' class='hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white')
            svg.h-6.w-6(stroke='currentColor' fill='none' viewbox='0 0 24 24')
              path.inline-flex(:class="{'hidden': open, 'inline-flex': !open }" stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16')
              path.hidden(:class="{'hidden': !open, 'inline-flex': open }" stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')
  .hidden.border-b.border-gray-700(:class="{'block': open, 'hidden': !open}" class='md:hidden')
    .px-2.py-3(class='sm:px-3')
      a.block.px-3.py-2.rounded-md.text-base.font-medium.text-white.bg-gray-900(href='#' class='focus:outline-none focus:text-white focus:bg-gray-700') Dashboard
      a.mt-1.block.px-3.py-2.rounded-md.text-base.font-medium.text-gray-300(href='#' class='hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700') Team
      a.mt-1.block.px-3.py-2.rounded-md.text-base.font-medium.text-gray-300(href='#' class='hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700') Projects
      a.mt-1.block.px-3.py-2.rounded-md.text-base.font-medium.text-gray-300(href='#' class='hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700') Calendar
      a.mt-1.block.px-3.py-2.rounded-md.text-base.font-medium.text-gray-300(href='#' class='hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700') Reports
