#difumina {
  background-image: linear-gradient(rgba(var(--color-marco),1), rgba(var(--color-marco),0));
}

#difuminab {
  background-image: linear-gradient(rgba(var(--color-marco),0), rgba(var(--color-marco),.92));
}

#difuminac {
  background-image: linear-gradient(rgba(var(--color-marco),0.92), rgba(var(--color-marco),1));
}




